.suppliers-list-info {
    margin-bottom: 10px;
}

.suppliers-list-paging {
    margin-bottom: 10px;
}

.btn-suppliers {
    width: 270px;
}

.qualification-box {
    margin-bottom: 10px;
    padding-left: inherit;
}